*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;    
}
.login_form{
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    & div:first-child{
        margin-bottom: 20%;
    }
}
.login_img {
    display: flex;
    justify-content: center;
}

.login_form img {
    width: 80px;
    height: 50px;
}

.login_inputs{
    display: flex;
    flex-direction: column;
}
.login_inputs input{

    height: 35px;
    font-size: 20px;
}
.login_inputs input:nth-child(1){
    margin: 50px 0 10px 0;
}
.login_inputs input:nth-child(2){
    margin: 0 0 10px 0;
}
.login_buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "Fbutton Sbutton"
    "Tbutton Tbutton";
}
.login_buttons button{
    height: 25px;
}
.login_buttons button:nth-child(1){
    grid-area: Fbutton;
    border-radius: 50px 0 0 50px;
}
.login_buttons button:nth-child(2){
    grid-area: Sbutton;
    border-radius: 0 50px 50px 0;
}
.login_buttons button:nth-child(3){
    grid-area: Tbutton;
    margin-top: 2px;
    border-radius: 50px;
}