*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login_form{
    /* outline: 1px solid black; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* margin: 0 auto; center a block element on x-axis  */
    display: flex;
    justify-content: center; /* align items horizontally*/
    align-items: center;  /* align items vertically*/
    overflow: auto;
}